.portfolio{
    color: red !important;
}

ul li{
    padding: 15px;
    font-size: 20px;;
}


.home{
    margin-left: 60px;
}

.socials{
    margin-left: 750px;
    
}

.resume{
    margin-right: 50px;
    padding: 7px 20px;
    border: none;
    background-color: #D63E75;
    color: white;
}



.nav-link{
    color: black;
}


.navbar{
    box-shadow: 2px 2px 4px rgb(238, 234, 234);
    
} 

.logo1{
    border-right: 2px solid #D63E75;
}
