@use 'colors' as *;
@use 'mixins' as *;

header {
  @include container(fixed, '', 10vh, 2rem 10rem);
  @include flex(row, start, center);
  @include boxShadow();
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: $white;
  img {
    @include image(150px, '', cover);
    flex: 0 0 1;
    margin-right: auto;
  }
  nav {
    @include flex(row, start, center);
    a {
      @include font(1.3rem);
      margin: 0 1rem;

      &:hover {
        color: $red;
        @include transition();
      }

      &.active {
        color: $red;
        border-bottom: 2px solid $red;
        @include transition();
      }
    }
  }

  .icon {
    @include icons(1.4rem);
    margin: 0 0.8rem;
  }

  .mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    height: 100vh;
    width: 70%;
    background-color: $white;
    transition: right 0.3s ease-in-out;
    //@include container(absolute, '', 100vh, 2rem 2rem);

    a {
      &:hover {
        background-color: #fef2f2;
        @include transition();
      }

      &.active {
        color: $red;
        @include transition();
      }
    }

    .close {
      position: absolute;
      top: 2rem;
      left: 1rem;
      color: $white;
      @include icons(1.8rem);
      border-radius: 3px;
      //background-color: $red;
    }

    .icons {
      @include flex(row, center, center);
      width: 100%;
      margin-top: 8rem;
    }

    .copyright {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px 0;
      p {
        text-align: center;
        @include font(0.9rem);
        a {
          color: $red;
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    @include container(fixed, '', 10vh, 2rem 2rem);
    img {
      @include image(120px, '', cover);
    }
    nav {
      display: none;
      a {
        @include font(2rem);
      }
    }

    .icon {
      @include icons(1.6rem);
    }

    .mobile-nav {
      @include flex(column, center, start);
      @include boxShadow();
      right: 0;
      a {
        padding: 2rem 0;
        width: 100%;
        text-align: center;
        @include font(1.2rem);
      }
    }
  }
}

@media screen and (max-width: 375px) {
  header {
    .mobile-nav {
      a {
        padding: 1.5rem 0;
      }
    }
  }
}
